body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

button {
  padding: 10px;
}

.App {
  max-width: 500px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header.learn {
  background-color: lime;
}

header.test {
  background-color: red;
}

header.review {
  background-color: orange;
}

.game-state-and-button {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.word-columns {
  display: flex;
}

.words-column {
  margin: 3em;
  text-align: center;
}

.words-column-name {
  font-weight: bold;
  margin-bottom: 1.6em;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.word {
  border: 1px solid black;
  width: 10em;
  padding: 0.6em;
}

.word-clickable {
  cursor: pointer;
  background: rgb(196, 253, 255);
}

.word-selected {
  background-color: yellow;
}

.word-paired {
  opacity: 0.2;
}
