.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-columns {
  display: flex;
}

.words-column {
  margin: 3em;
  text-align: center;
}

.words-column-name {
  font-weight: bold;
  margin-bottom: 1.6em;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.word {
  border: 1px solid black;
  width: 10em;
  padding: 0.6em;
}
