body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

button {
  padding: 10px;
}

.App {
  max-width: 500px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header.learn {
  background-color: lime;
}

header.test {
  background-color: red;
}

header.review {
  background-color: orange;
}

.word-columns {
  display: flex;
}

.words-column {
  margin: 3em;
  text-align: center;
}

.words-column-name {
  font-weight: bold;
  margin-bottom: 1.6em;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.word {
  border: 1px solid black;
  width: 10em;
  padding: 0.6em;
}

.word-clickable {
  cursor: pointer;
  background: rgb(196, 253, 255);
}

.word-selected {
  background-color: yellow;
}

.word-paired {
  opacity: 0.2;
}

.word-correct {
  background-color: lime;
}

.word-incorrect {
  background-color: red;
}

.paired-words {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}

.paired-words-pair {
  display: flex;
  column-gap: 1em;
  position: relative;
  width: 100%;
  justify-content: center;
}

.paired-words-pair-link {
  width: 1em;
  position: absolute;
  border-bottom: 1px solid blue;
  top: 48%;
  left: 48.5%;
}

.results {
  margin-top: 1em;
}

.result-pair {
  display: flex;
  width: 500px;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  border-bottom: 1px solid black;
}

.result-pair-header {
  font-weight: bold;
}

.result-pair-correct {
  background-color: rgba(0, 255, 0, 0.2);
}

.result-pair-incorrect {
  background-color: rgba(255, 0, 0, 0.2);
}

.result-word {
  width: 10em;
}
